extends layout

block gettingStarted
  p <a href="/getting-started">Getting Started</a>를 먼저 읽자. 프로젝트에서 Grunt를 사용하는 방법을 소개하는 문서다. 그러고 나서 <a href="/sample-gruntfile">Sample Gruntfile</a>를 체크아웃하고, <a href="/configuring-tasks">Configuring Tasks</a>문서로 Task 환경설정을 공부하자.

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          .home-header
            .title-header
              span.grunt-name Grunt
              span.tag-line The JavaScript Task Runner
              p.description 여기는 <a href="http://gruntjs.com">Grunt 공식 사이트</a>를 번역한 비공식 사이트입니다. 이상한 부분은 <a href="https://github.com/zziuni/grunt-docs/issues">이리</a>로 올려주세요. - @zziuni

          .why.left
            h2 Task Runner가 필요한 이유
            p 자동화를 위해서다. 여러분이 해야 할 반복 작업을 줄여준다. minification, compilation, unit testing, linting 등의 작업이 여기에 속한다. 일단 설정을 하고 나면, Task Runner가 여러분의 작업을 대신한다.

          .why.right
            h2 Grunt를 써야 하는 이유
            p Grunt 생태계는 지금도 크지만 계속 성장 중이다. 골라서 쓸 수 있는 수백 개의 플러그인을 사용해서 어떤 일을 자동화해서 작업 효율을 높이는 데 Grunt를 사용할 수 있다. 원하는 Grunt plugin이 없다면, npm으로 직접 제작 및 배포도 손쉽게 할 수 있다.

          .technology
            h2 Available Grunt plugins
            p 사람들이 필요로 하는 대부분의 플러그인이 이미 준비되어있을 뿐만 아니라 매일 새로운 plugin이 올라오고 있다. 전체 <a href="/plugins">plugin 목록</a>은 계속 채워지도록 두고, 잘 알려진 것들만 먼저 보자.
            div
              a.technology(href='https://npmjs.org/package/grunt-contrib-coffee')
                span.logo
                  img(src='img/logo-coffeescript.jpg', alt='CoffeeScript')
              a.technology(href='https://npmjs.org/package/grunt-contrib-handlebars')
                span.logo
                  img(src='img/logo-handlebars.jpg', alt='Handlebars')
              a.technology(href='https://npmjs.org/package/grunt-contrib-jade')
                span.logo
                  img(src='img/logo-jade.jpg', alt='Jade')
              a.technology(href='https://npmjs.org/package/grunt-contrib-jshint')
                span.logo
                  img(src='img/logo-jshint.jpg', alt='JSHint')
              a.technology(href='https://npmjs.org/package/grunt-contrib-less')
                span.logo
                  img(src='img/logo-less.jpg', alt='Less')
              a.technology(href='https://npmjs.org/package/grunt-contrib-requirejs')
                span.logo
                  img(src='img/logo-requirejs.jpg', alt='Require.js')
              a.technology(href='https://npmjs.org/package/grunt-contrib-sass')
                span.logo
                  img(src='img/logo-sass.jpg', alt='Sass')
              a.technology(href='https://npmjs.org/package/grunt-contrib-stylus')
                span.logo
                  img(src='img/logo-sylus.jpg', alt='Stylus')

          .grunt-preview
            h2 Here's a preview!
            p grunt 설치가 간단하긴 하지만, 프로젝트에서 동작하는 방식을 이해할 필요가 있다. 이를 위해 <a href="https://github.com/cowboy/jquery-tiny-pubsub">sample project</a>에서 Grunt를 실행한 결과 예제를 살펴보자.
            // THX 2 @GF3 4 THE CSS <3!!
            pre.terminal
              span.command-prompt grunt
              |
              |Running "jshint:gruntfile" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |
              |Running "jshint:src" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |
              |Running "jshint:test" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |
              |Running "qunit:files" (qunit) task
              |Testing test/tiny-pubsub.html....<span class="green">OK</span>
              |<span class="green">&gt;&gt;</span> 4 assertions passed (23ms)
              |
              |Running "clean:files" (clean) task
              |Cleaning "dist"...<span class="green">OK</span>
              |
              |Running "concat:dist" (concat) task
              |File "dist/ba-tiny-pubsub.js" created.
              |
              |Running "uglify:dist" (uglify) task
              |File "dist/ba-tiny-pubsub.min.js" created.
              |Uncompressed size: <span class="green">389</span> bytes.
              |Compressed size: <span class="green">119</span> bytes gzipped (<span class="green">185</span> bytes minified).
              |
              |<span class="green">Done, without errors.</span>
              |
              |<span class="command-prompt active"><span class="active-prompt"></span></span>

          .who-uses-grunt
            h2 Who uses Grunt?
            p Grunt를 사용하는 회사와 프로젝트들이다. 전체 목록  a(href='/who-uses-grunt') 여기.
            div
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-twitter.jpg', alt='Twitter')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-jquery.jpg', alt='jQuery')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-adobe.jpg', alt='Adobe')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-modernizr.jpg', alt='Modernizr')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-bocoup.jpg', alt='Bocoup')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-fg.jpg', alt='Filament Group')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-saucelabs.jpg', alt='Sauce Labs')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='img/logo-bitovi.jpg', alt='Bitovi')

          .how-get-started
            h2 How do I get started?
            block gettingStarted

      .span3
        .well.sidebar-nav
          .latest-version
            h3 Latest Version
            ul
              li Stable: v0.4.2
              li Development: N/A

          include blocks/advertisements

          .latest-news
            h3 Latest News
            ul
              each article in news
                li
                  a(href='/blog/' + article.url)
                    span.title= article.title
                    span.date= article.postDate

          .getting-started
            h3 Getting Started
            block gettingStarted

          .social
            a.github(href='https://github.com/gruntjs/', alt='Grunt on GitHub')
              span.icon-github
            a.twitter(href='https://twitter.com/gruntjs/', alt='Grunt on Twitter')
              span.icon-twitter
            a.feed(href='/rss', alt='Grunt blog RSS feed')
              span.icon-feed
