footer.grunt-footer
  .inner
    .container
      ul.pull-right
        li
          a(href='/blog') Blog
        li
          a(href='/upgrading-from-0.3-to-0.4') Migration Guides
        li
          a(href='/contributing') Contributing
        li.social
          a(href='https://github.com/gruntjs/', alt='Grunt on GitHub')
            span.icon-github
        li.social
          a(href='https://twitter.com/gruntjs/', alt='Grunt on Twitter')
            span.icon-twitter
        li.social
          a(href='/rss', alt='Grunt blog RSS feed')
            span.icon-feed
      ul.pull-left
        li
          |Grunt development is sponsored by
          a(href='http://bocoup.com/', alt='Bocoup')
            |Bocoup
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-46518635-1', 'gurntjs-kr.herokuapp.com');ga('send', 'pageview');
